body {
    font-family: 'poppins';
    background-color: #363640;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #26262f;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

table td, th {
  padding: 20px;
  padding-top: 0px;
  
}


table thead tr {
  height: 80px;
  background: #26262f;
}

#txt-inp {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#definition {
    margin: 10px;
}

#voice {
    width: 50%;
}

.voice-msg {
    margin-top: 5px;
}

.title {
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

.name-div{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding: 20px;
}

.blur-bg{
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 999;

}

.name-title{
    font-size: 20px;
}

#sbmt-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: black;
    border: 0;
}

#play{
    background-color: black;
    width: 200px;
    border-radius: 10px;
    border: 0;
    color: white;
    float: left;
   
}

#submit-btn,
#definition,
#replay {
    
    background-color: black;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#name-inp{
  
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bold;
    width: 350px;
}

 .hidden-stuff {
     visibility: hidden;
 }

.enter-name{
    color: white;
    
}

.container-main{
    margin-left: 20px;
}

.column1 {
  float: left;
  width: 53.33%;
  margin-left: 40px;
}

.main-container{
    margin-left: 30px;
}

#delete{
    position: absolute;
    bottom: 20px;
    right: 40px;
}







.table100-head {

  font-size: 18px;
  color: grey;
  line-height: 1.2;
  font-weight: unset;
}


.btn-grp{
     bottom: 20px;
     position: absolute;
     bottom: 20px;
     float: left;
}

#score{
    float: right;
    margin-left: 20px;
    margin-top: 7px;
}